:root {
  --body-card-font-family: "Poppins", Helvetica;
  --body-card-font-size: 10px;
  --body-card-font-style: normal;
  --body-card-font-weight: 700;
  --body-card-letter-spacing: 0px;
  --body-card-line-height: normal;
  --body-pengumuman-font-family: "Poppins", Helvetica;
  --body-pengumuman-font-size: 14px;
  --body-pengumuman-font-style: normal;
  --body-pengumuman-font-weight: 400;
  --body-pengumuman-letter-spacing: 0px;
  --body-pengumuman-line-height: normal;
  --body-status-akun-font-family: "Poppins", Helvetica;
  --body-status-akun-font-size: 10px;
  --body-status-akun-font-style: normal;
  --body-status-akun-font-weight: 700;
  --body-status-akun-letter-spacing: 0px;
  --body-status-akun-line-height: normal;
  --button-card-font-family: "Poppins", Helvetica;
  --button-card-font-size: 12px;
  --button-card-font-style: normal;
  --button-card-font-weight: 700;
  --button-card-letter-spacing: 0px;
  --button-card-line-height: normal;
  --button-pop-up-akun-font-family: "Poppins", Helvetica;
  --button-pop-up-akun-font-size: 12px;
  --button-pop-up-akun-font-style: normal;
  --button-pop-up-akun-font-weight: 700;
  --button-pop-up-akun-letter-spacing: 0px;
  --button-pop-up-akun-line-height: normal;
  --heading-card-font-family: "Poppins", Helvetica;
  --heading-card-font-size: 15px;
  --heading-card-font-style: normal;
  --heading-card-font-weight: 700;
  --heading-card-letter-spacing: 0px;
  --heading-card-line-height: normal;
  --heading-pengumuman-font-family: "Poppins", Helvetica;
  --heading-pengumuman-font-size: 15px;
  --heading-pengumuman-font-style: normal;
  --heading-pengumuman-font-weight: 700;
  --heading-pengumuman-letter-spacing: 0px;
  --heading-pengumuman-line-height: normal;
  --heading-pop-up-akun-font-family: "Poppins", Helvetica;
  --heading-pop-up-akun-font-size: 15px;
  --heading-pop-up-akun-font-style: normal;
  --heading-pop-up-akun-font-weight: 700;
  --heading-pop-up-akun-letter-spacing: 0px;
  --heading-pop-up-akun-line-height: normal;
  --heading-status-akun-font-family: "Poppins", Helvetica;
  --heading-status-akun-font-size: 15px;
  --heading-status-akun-font-style: normal;
  --heading-status-akun-font-weight: 700;
  --heading-status-akun-letter-spacing: 0px;
  --heading-status-akun-line-height: normal;
  --jam-tanggal-font-family: "Poppins", Helvetica;
  --jam-tanggal-font-size: 15px;
  --jam-tanggal-font-style: normal;
  --jam-tanggal-font-weight: 700;
  --jam-tanggal-letter-spacing: 0px;
  --jam-tanggal-line-height: normal;
  --sidebar-pilihan-font-family: "Poppins", Helvetica;
  --sidebar-pilihan-font-size: 12px;
  --sidebar-pilihan-font-style: normal;
  --sidebar-pilihan-font-weight: 700;
  --sidebar-pilihan-letter-spacing: 0px;
  --sidebar-pilihan-line-height: normal;
  --sidebar-utama-font-family: "Poppins", Helvetica;
  --sidebar-utama-font-size: 15px;
  --sidebar-utama-font-style: normal;
  --sidebar-utama-font-weight: 700;
  --sidebar-utama-letter-spacing: 0px;
  --sidebar-utama-line-height: normal;
  --sub-heading-card-font-family: "Poppins", Helvetica;
  --sub-heading-card-font-size: 11px;
  --sub-heading-card-font-style: normal;
  --sub-heading-card-font-weight: 700;
  --sub-heading-card-letter-spacing: 0px;
  --sub-heading-card-line-height: normal;
  --sub-heading-pop-up-akun-font-family: "Poppins", Helvetica;
  --sub-heading-pop-up-akun-font-size: 12px;
  --sub-heading-pop-up-akun-font-style: normal;
  --sub-heading-pop-up-akun-font-weight: 700;
  --sub-heading-pop-up-akun-letter-spacing: 0px;
  --sub-heading-pop-up-akun-line-height: normal;
}
